<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="http://s.dapuimg.com/favicon.ico" type="image/x-icon">
    <title>大朴网-购物车</title>
    <link rel="stylesheet" href="../css/reset.css" type="text/css">
    <link rel="stylesheet" href="/css/cart.css" type="text/css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <script src="/lib/requirejs/require.js" data-main="/js/cart"></script>
</head>
<body>
<div class="main">
    <div id="header"></div>

    <div class="panel" style="border-color: #ddd;">
        <div class="panel_heading" style="text-align: right">
            <strong style="float: left">我的购物车</strong>
            <a href="#" class="btu btu_default">清空购物车</a>
        </div>
        <div class="panel_body">
            <form action="" id="form_cart" method="post">
                <table class="shop_cart_table" id="goodsbody">
                    <tbody>
                    <tr>
                        <th width="5%">
                            <input type="checkbox" class="selectAllGoods" name="selectAllGoods">
                        </th>
                        <th width="40%">商品信息</th>
                        <th width="10%">商品单价</th>
                        <th width="15%">商品数量</th>
                        <th width="10%">小计</th>
                        <th width="10%">操作</th>
                    </tr>
                    <tr class="hide">
                        <td class="g_checkbox">
                            <input type="checkbox" name="selectGoods" class="selectGoods">
                        </td>
                        <td>
                            <div class="g_pic">
                                <a href="#" target="_blank">
                                    <img src="../image/c1.jpg" alt="【质造】星球杯" class="g_img">
                                </a>
                            </div>
                            <div class="g_info">
                                <a href="#" target="_blank">【质造】星球杯</a>
                                <p class="spec_info">规格：2杯2碟/对装</p>
                            </div>
                        </td>
                        <td class="g_price">
                            <span >￥99</span>
                        </td>
                        <td class="g_modify">
                            <button type="button" class="btu_default minus_num">-</button>
                            <input type="text" class="buy_num goods_num" value="1" >
                            <button type="button" class="btu_default add_num">+</button>
                        </td>
                        <td class="g_total g_totalprice" >￥99</td>
                        <td class="g_btu">
                            <a href="#" class="btu_danger btu">删除</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="clear_check clearfix" style="margin-top: 27px;padding-right: 30px;">
                    <a href="javascript:void (0)" class="btn btn-danger" style="float: right">删除选中行</a>
                </div>
            </form>
        </div>
        <!------ 购物车为空时 ------->
        <div class="cart_none_2">
            <span style="font-size: 30px;line-height: 200px;">购物车为空</span>
            <p>
                <a href="/html/index.html" class="btn btn-info">继续购物</a>
            </p>
        </div>
        <div class="panel_footer">
            <div id="cart_ajax_update">
                <div class="alert_info alert">
                    <h3>已享受的促销优惠：</h3>
                    <p>购物满88元包邮</p>
                </div>
                <div style="text-align: right;">
                    <p id="or_cost">原始金额:￥0</p>
                    <p style="color: red" id="discounts">优惠金额：￥0</p>
                    <p class="total"><strong>商品总金额（不含运费）:</strong><b style="font-weight: normal">￥0</b></p>
                </div>
                <div style="text-align: right;">
                    <a href="/html/index.html" class="btu btu_default">继续购物</a>
                    <a href="#" class="btu btu_danger">去结算</a>
                </div>
            </div>
        </div>
        <div class="hot_sale" style="clear: both">
            <ul class="tab_nav">
                <li class="on"><span>您可能会喜欢</span></li>
            </ul>
            <div class="tab_con">
                <div class="thumb_con">     </div>
                <script type="text/html" id="cart_hot_temp">
                    <%
                    for ( var i = 0 ; i < hot_temps.length ; i++){
                    var _mo = hot_temps[i];
                    %>
                    <div class="thumb_item">
                        <div class="pic">
                            <a href=<%= _mo.href %> title=<%= _mo.name %> target="_blank">
                                <img src=<%= _mo.img %> alt="">
                            </a>
                        </div>
                        <a href=<%= _mo.href %> class="name" title=<%= _mo.name %> target="_blank"> <%= _mo.name %> </a>
                        <span class="price" style="color: #7f5b42;font-size: 12px;"> <%= _mo.price %> </span>
                    </div>
                    <%   }  %>
                </script>
            </div>
            <a href="http://www.baifendian.com" target="_blank" class="bfd_logo"></a>
        </div>
    </div>
</div>
</body>
</html>








































