<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="http://s.dapuimg.com/favicon.ico" type="image/x-icon">
    <title>大朴 | 大朴精选</title>
    <link rel="stylesheet" href="../css/reset.css" type="text/css">
    <link rel="stylesheet" href="../css/mock_head_footer.css" type="text/css">
    <link rel="stylesheet" href="../css/right_banner.css" type="text/css">
    <link rel="stylesheet" href="../css/gallery-393.css" type="text/css">
    <script src="../js/template_head_footer.js"></script>
    <script src="../js/right_banner.js"></script>
    <script src="../js/carousel.js"></script>
    <script src="../lib/jquery/jquery-1.12-4.min.js"></script>
    <script src="../lib/arttemplate/template-native.js"></script>
    <script src="../js/head.js"></script>
</head>
<body>
<div class="right"> <list-itime id="right_bar"></list-itime> </div>

<div class="main">
    <div class="top"> <list-itime id="header"></list-itime> </div>
    <!-------------------------------- container --------------------------------->
    <div class="shop_main">
        <div class="header_f1">
            <a href="index.html">首页</a>
            &nbsp;>
            <em id="last_name">大朴优选</em>
        </div>
        <!------------------------------ aside --------------------------------------->
        <div class="aside">
            <!--------------------------- sort-list ------------------------------->
            <div class="sort_list">
                <div class="hd">
                    <h2 class="title">所有商品</h2>
                </div>
                <div class="bd">
                    <!------------------------------- 大朴优选------------------------------->
                    <div class="item " id="item_393">
                        <p>
                            <a href="gallery-393.html">大朴优选</a> <b></b>
                        </p>
                        <div id="ul_393" style="padding: 5px 15px; background: #fff;">
                            <div style="height: auto">
                                <a href="#" style="padding: 5px 5px ;display: block;border-bottom: 1px solid #e7e1dd; font-weight: bold">烹调食材</a>
                                <a href="#" style="display: inline-block; padding: 5px 5px ">生鲜肉食</a>
                                <a href="#" style="display: inline-block; padding: 5px 5px ">野生菌菇</a>
                            </div>
                            <div style="height: auto">
                                <a href="#" style="padding: 5px 5px ;display: block;border-bottom: 1px solid #e7e1dd; font-weight: bold">新农鲜果</a>
                                <a href="#" style="display: inline-block; padding: 5px 5px ">冬枣</a>
                            </div>
                            <div style="height: auto">
                                <a href="#" style="padding: 5px 5px ;display: block;border-bottom: 1px solid #e7e1dd; font-weight: bold">特色美食</a>
                                <a href="#" style="display: inline-block; padding: 5px 5px ">干果坚果</a>
                                <a href="#" style="display: inline-block; padding: 5px 5px ">风干美食</a>
                            </div>
                            <div style="height: auto">
                                <a href="#" style="padding: 5px 5px ;display: block;border-bottom: 1px solid #e7e1dd; font-weight: bold">茶艺生活</a>
                                <a href="#" style="display: inline-block; padding: 5px 5px ">创意本</a>
                                <a href="#" style="display: inline-block; padding: 5px 5px ">茶滋茶味</a>
                                <a href="#" style="display: inline-block; padding: 5px 5px ">创意礼品杯</a>
                            </div>
                            <div style="height: auto">
                                <a href="#" style="padding: 5px 5px ;display: block;border-bottom: 1px solid #e7e1dd; font-weight: bold">居家必备</a>
                                <a href="#" style="display: inline-block; padding: 5px 5px ">智能牙刷</a>
                                <a href="#" style="display: inline-block; padding: 5px 5px ">智能台灯睡眠仪</a>
                                <br>
                                <a href="#" style="display: inline-block; padding: 5px 5px ">净水器</a>
                                <a href="#" style="display: inline-block; padding: 5px 5px ">空气净化器</a>
                            </div>
                        </div>
                    </div>
                        <!------------------------------- 卧室用品 ---------------------------------->
                    <div class="item" id="item_67">
                            <p>
                                <a href="woshi.html">卧室用品</a> <b></b>
                            </p>
                            <div id="ul_67" style="padding: 5px 15px; background: #fff;">
                                <div style="height: auto">
                                    <a href="#" style="padding: 5px 5px ;display: block;border-bottom: 1px solid #e7e1dd; font-weight: bold">床品件套</a>
                                    <a href="#" style="display: inline-block; padding: 5px 5px ">花鸟件套</a>
                                    <a href="#" style="display: inline-block; padding: 5px 5px ">四件套/三件套</a>
                                    <br>
                                    <a href="#" style="display: inline-block; padding: 5px 5px ">床单床笠</a>
                                    <a href="#" style="display: inline-block; padding: 5px 5px ">靠垫/靠垫套</a>
                                    <a href="#" style="display: inline-block; padding: 5px 5px ">毯子</a>
                                </div>
                                <div style="height: auto">
                                    <a href="#" style="padding: 5px 5px ;display: block;border-bottom: 1px solid #e7e1dd; font-weight: bold">被子枕头</a>
                                    <a href="#" style="display: inline-block; padding: 5px 5px ">夏凉被</a>
                                    <a href="#" style="display: inline-block; padding: 5px 5px ">冬凉被</a>
                                    <a href="#" style="display: inline-block; padding: 5px 5px ">枕头</a>
                                    <a href="#" style="display: inline-block; padding: 5px 5px ">床垫</a>
                                </div>
                                <div style="height: auto">
                                    <a href="#" style="padding: 5px 5px ;display: block;border-bottom: 1px solid #e7e1dd; font-weight: bold">夏凉床品</a>
                                    <a href="#" style="display: inline-block; padding: 5px 5px ">老粗布</a>
                                    <a href="#" style="display: inline-block; padding: 5px 5px ">亚麻/棉麻凉席</a>
                                    <a href="#" style="display: inline-block; padding: 5px 5px ">蔺草席</a>
                                </div>
                                <div style="height: auto">
                                    <a href="#" style="padding: 5px 5px ;display: block;border-bottom: 1px solid #e7e1dd; font-weight: bold">家居拖鞋</a>
                                    <a href="#" style="display: inline-block; padding: 5px 5px ">家居拖鞋</a>
                                </div>
                                <div style="height: auto">
                                    <a href="#" style="padding: 5px 5px ;display: block;border-bottom: 1px solid #e7e1dd; font-weight: bold">智能家居</a>
                                    <a href="#" style="display: inline-block; padding: 5px 5px ">止鼾枕</a>
                                </div>
                            </div>
                        </div>
                            <!---------------------------------- 浴室用品----------------------------------->
                    <div class="item" id="item_66">
                                <p>
                                    <a href="#">浴室用品</a> <b></b>
                                </p>
                                <div id="ul_66" style="padding: 5px 15px; background: #fff;">
                                    <div style="height: auto">
                                        <a href="#" style="padding: 5px 5px ;display: block;border-bottom: 1px solid #e7e1dd; font-weight: bold">毛巾浴巾</a>
                                        <a href="#" style="display: inline-block; padding: 5px 5px ">洗浴套装</a>
                                        <a href="#" style="display: inline-block; padding: 5px 5px ">毛巾</a>
                                        <a href="#" style="display: inline-block; padding: 5px 5px ">方巾</a>
                                        <br>
                                        <a href="#" style="display: inline-block; padding: 5px 5px ">浴巾浴袍</a>
                                    </div>
                                    <div style="height: auto">
                                        <a href="#" style="padding: 5px 5px ;display: block;border-bottom: 1px solid #e7e1dd; font-weight: bold">地巾地垫</a>
                                        <a href="#" style="display: inline-block; padding: 5px 5px ">地巾地垫</a>
                                    </div>
                                    <div style="height: auto">
                                        <a href="#" style="padding: 5px 5px ;display: block;border-bottom: 1px solid #e7e1dd; font-weight: bold">浴室拖鞋</a>
                                        <a href="#" style="display: inline-block; padding: 5px 5px ">浴室拖鞋</a>
                                    </div>
                                </div>
                            </div>
                                <!-------------------------------- 清洁日用 ----------------------------------->
                    <div class="item" id="item_374">
                                    <p>
                                        <a href="#">清洁日用</a> <b></b>
                                    </p>
                                    <div id="ul_374" style="padding: 5px 15px; background: #fff;">
                                        <div style="height: auto">
                                            <a href="#" style="padding: 5px 5px ;display: block;border-bottom: 1px solid #e7e1dd; font-weight: bold">个护清洁</a>
                                            <a href="#" style="display: inline-block; padding: 5px 5px ">纸巾/棉柔巾/棉签</a>
                                        </div>
                                        <div style="height: auto">
                                            <a href="#" style="padding: 5px 5px ;display: block;border-bottom: 1px solid #e7e1dd; font-weight: bold">净化空气</a>
                                            <a href="#" style="display: inline-block; padding: 5px 5px ">竹炭包</a>
                                        </div>
                                        <div style="height: auto">
                                            <a href="#" style="padding: 5px 5px ;display: block;border-bottom: 1px solid #e7e1dd; font-weight: bold">日常用品</a>
                                            <a href="#" style="display: inline-block; padding: 5px 5px ">围裙</a>
                                        </div>
                                        <div style="height: auto">
                                            <a href="#" style="padding: 5px 5px ;display: block;border-bottom: 1px solid #e7e1dd; font-weight: bold">洗涤用品</a>
                                            <a href="#" style="display: inline-block; padding: 5px 5px ">洗衣液/果蔬净/餐具净</a>
                                        </div>
                                    </div>
                            </div>
                                    <!----------------- 服饰 ------------------>
                    <div class="item" id="item_156">
                                <p>
                                    <a href="#">服饰</a> <b></b>
                                </p>
                                <div id="ul_156" style="padding: 5px 15px; background: #fff;">
                                    <div style="height: auto">
                                        <a href="#" style="padding: 5px 5px ;display: block;border-bottom: 1px solid #e7e1dd; font-weight: bold">女士服饰</a>
                                        <a href="#" style="display: inline-block; padding: 5px 5px ">T恤/背心</a>
                                        <a href="#" style="display: inline-block; padding: 5px 5px ">衬衫</a>
                                        <a href="#" style="display: inline-block; padding: 5px 5px ">卫衣/毛衫</a>
                                        <br>
                                        <a href="#" style="display: inline-block; padding: 5px 5px ">裤子</a>
                                        <a href="#" style="display: inline-block; padding: 5px 5px ">裙子</a>
                                        <a href="#" style="display: inline-block; padding: 5px 5px ">家居服</a>
                                    </div>
                                    <div style="height: auto">
                                        <a href="#" style="padding: 5px 5px ;display: block;border-bottom: 1px solid #e7e1dd; font-weight: bold">男士服饰</a>
                                        <a href="#" style="display: inline-block; padding: 5px 5px ">T恤</a>
                                        <a href="#" style="display: inline-block; padding: 5px 5px ">衬衫</a>
                                        <a href="#" style="display: inline-block; padding: 5px 5px ">卫衣/毛衫</a>
                                        <a href="#" style="display: inline-block; padding: 5px 5px ">裤子</a>
                                        <br>
                                        <a href="#" style="display: inline-block; padding: 5px 5px ">家居服</a>
                                </div>
                            </div>
                            </div>

                            <!----------------------------------- 。。。。 --------------------------------------->
                    <div class="item" id="item_124">
                                <p>
                                    <a href="#">贴身衣物</a> <b></b>
                                </p>
                        </div>
                    <div class="item" id="item_58">
                                <p>
                                    <a href="#">婴童周边</a> <b></b>
                                </p>
                            </div>
                    <div class="item" id="item_301">
                                <p>
                                    <a href="#">包袋/周边</a> <b></b>
                                </p>
                            </div>
                    <div class="item" id="item_136">
                                <p>
                                    <a href="#">礼品周边</a> <b></b>
                                </p>
                            </div>
                </div>
            </div>
            <!----------------------------------- recent-item ------------------------------------->
            <div class="recent_item">
                <div class="mod_hd">
                    <h2>浏览过的商品</h2>
                </div>
                <ul class="items" id="box_6339">   </ul>
            </div>
            <div class="textright">
                <a href="#" class="clearAll">清除列表</a>&nbsp;&nbsp;
            </div>
            <a href="#" target="_blank">
                <img src="../image/chuangpin1600X1200.jpg" alt="" width="230" height="183" >
            </a>
            <script type="text/html" id="recent_list">
                <%
                for (var i = 0; i < _recent.length; i++) {
                var item = _recent[i];
                %>
                <li style="height: auto">
                    <div class="goodpic">
                        <a href="#" target="_blank" title=<%= item.name %>>
                            <img src=<%= item.imgsrc %> alt=<%= item.name %> width="50" height="50" style="vertical-align: middle">
                        </a>
                    </div>
                    <div class="pic_info">
                            <span class="name">
                                <a href="#" target="_blank" title=<%= item.name %>><%= item.name %></a>
                            </span>
                    </div>
                </li>
                <%  }  %>
            </script>
            <script>
                $(function () {
                    $.getJSON("../mock/gallery_393.json", function (data) {
                        var recent_list = template("recent_list", {_recent: data.recent_list});
                        $(".items").append(recent_list);
                    });

                    //清除事件
                    $(".clearAll").on("click",function () {
                        $(".items").find("*").hide();
                    })
                })
            </script>

            <!------------------------------------ bfd_list  ------------------------------------------------->
            <div class="bfd_list">
                <div class="bfd_content">
                    <h3>热榜推荐</h3>
                    <ul>  </ul>
                </div>
            </div>
            <script type="text/html" id="bfd_list">
                <%
                for (var i = 0; i < _bfd.length; i++) {
                var item = _bfd[i];
                %>
                <li>
                    <a href="#" target="_blank" title="720环境宝3">
                        <img src=<%= item.imgsrc %> alt=<%= item.name %> class="bfd_item_img">
                    </a>
                    <div class="bfd_item_name">
                        <a href="#" class="fc66" title=<%= item.name %> target="_blank">720环境宝3</a>
                    </div>
                    <div class="bfd_item_price">
                        <em >￥<%= item.price %></em>
                    </div>
                </li>
                <%  }  %>
            </script>
            <script>
                $(function () {
                    $.getJSON("../mock/gallery_393.json", function (data) {
                        var bfd_list = template("bfd_list", {_bfd: data.bfd_list});
                        $(".bfd_content").find("ul").append(bfd_list);
                    });
                })
            </script>
        </div>
        <!--------------------------- main_con ---------------------------------->
        <div class="main_con">
            <div class="controls">
                <div class="hd">
                    <h1 style="font-size: 14px; float: left; border-bottom: 1px solid #6b6b6b; padding-right: 10px; font-weight: bold" id="tp_name"></h1>
                    <h2>商品筛选</h2>
                    <a href="#" class="reset">重置筛选条件</a>
                </div>
                <form action="" id="selector_form"></form>
            </div>
            <script>
                $(function () {
                    $(".hd").find("h1").text($("#last_name").text());
                })
            </script>
            <!--------- 主要部分----------->
            <div class="filter">
                <dl>
                    <dt>排序方式：</dt>
                    <dd>
                        <a href="#">最新</a>
                    </dd>
                    <dd><a href="#">销量</a></dd>
                    <dd>
                        <a href="#">价格</a>
                        <b style="position: absolute; top: 3px; width: 9px; height: 15px; background: url(../image/shengxu_list.jpg) 0 -16px ; overflow: hidden"></b>
                    </dd>
                    <dd>
                        <a href="#">价格</a>
                        <b style="position: absolute; top: 3px; width: 9px; height: 15px; background: url(../image/shengxu_list.jpg) 0 -0.2px; overflow: hidden"></b>
                    </dd>
                </dl>
            </div>
            <!----------- products -------------->
            <div class="products" id="products">
                <div id="products_list">

                </div>
            </div>

            <script type="text/html" id="prods_list">
                <%
                for (var i = 0; i < _product.length; i++) {
                var item = _product[i];
                %>
                <div class="goodspic sideborder" style="width: 218px; height: 330px; float: left;margin: 10px 0 0 20px;">
                    <div class="goods_spec_pic">
                        <a href="product_1927.html" target="_blank" class="review_module">
                            <img src=<%= item.imgSrc_big %> alt=<%= item.name %> style="width: 218px;height: 218px;">
                        </a>
                    </div>
                    <div class="picscroll">
                        <div class="goods_detail_pic_thumbnail goods_detail_x pics" style="position: relative">
                            <ul class="goods_detail_pic_thumbnail pic_content" style="left: 0; width: 46px;">
                                <li>
                                    <a href="#">
                                        <img src=<%= item.imgSrc_small %> alt="" width="35" height="35" style="border: 2px solid #b1544f">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="goodtext">
                        <p style="color: #d81818">
                            <span style="font-size: 16px">￥<%= item.price %></span>
                        </p>
                        <p><a href="#" target="_blank"><%= item.name %></a></p>
                    </div>
                </div>

                <%  }  %>
            </script>
            <script>
                $(function () {
                    $.getJSON("../mock/gallery_393.json", function (data) {
                        var products = template("prods_list", {_product: data.products_list});
                        $("#products_list").append(products);
                    });

                })
            </script>
        </div>
    </div>
</div>

    <div class="woshi_footer"> <list-itime id="footer"></list-itime> </div>
<script>
    $(function () {

        $(".item").find("div").hide();
        $("#item_393").find("*").show();
    })
</script>

</body>
</html>























