<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="http://s.dapuimg.com/favicon.ico" type="image/x-icon">
    <title>大朴网-无甲醛棉品，始于大朴 30天无条件退换货、货到付款、88元包邮</title>
    <link rel="stylesheet" href="../css/index.css" type="text/css">
    <link rel="stylesheet" href="../css/reset.css" type="text/css">
    <script src="/lib/requirejs/require.js" data-main="/js/index.js"></script>

</head>
<body>
<!----------------------------------- right_banner ------------------------------------->
<div id="right_banner">
    <!--<list-itime id="right_bar"></list-itime>-->
</div>
<div class="main">
    <div id="header"> <!--<list-itime id="header"></list-itime>--> </div>
    <!----------------------------------- banner ------------------------------------->
    <div class="banner">
        <div id="banner_container"> </div>
    </div>
    <!------------------------------------- article------------------------------------------->
    <div class="article">
    <div class="article_title">
        <a href="#"></a>
    </div>
    <div class="home_article">
        <div class="article_hide">
            <a href="#">
                <img src="../image/pic1.jpg" alt="" class="word_pic">
            </a>
            <div class="home_article_box">
                <div class="article_col_1">
                    <div class="article_col_1_pic">
                        <img src="../image/head.jpg" alt="" class="head_pic">
                    </div>
                    <div class="article_col_1_right">
                        <p class="col_1_r_1">棉仔</p>
                        <div class="col_cx_left">
                            <div>
                                <img src="../image/2017022800_time.png" alt=""><em class="timer">2017-08-30</em>
                            </div>
                            <div><img src="../image/2017022800_place.png" alt=""><em class="place">北京</em></div>
                        </div>
                        <div class="col_cx_left">
                            <div>
                                <img src="../image/2017022800_eye.png" alt=""><em class="ryr">1289</em>
                            </div>
                            <div>
                                <img src="../image/2017022800_thumb.png" alt=""><em class="zhan">36</em>
                            </div>
                            <div>
                                <img src="../image/2017022800_chat.png" alt=""><em class="chat">10</em>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="article_col_2" style="width: 100%; overflow: hidden">
                    <div style="width: 6%; padding-left: 0; padding-right: 0; float: left">
                        <div style="float: right; width: 4px; height: 16px; background: #76c5af; margin-top: 5px;"></div>
                    </div>
                    <div style="width: 94%; padding-left: 0; padding-right: 0; float: left">
                        <div style="margin-left: 10px; padding: 3px 0 ;font-size: 1.2em; color: rgb(34,34,34);" class="word_title">《大朴828五周年庆动画：遇见你，刚刚好..</div>
                        <div style="margin-left:-5px;line-height:17px;padding-left:0;padding-right:5px;font-size: 0.8em;color: rgb(108,108,108);" class="article_word">一只美丽的蜂鸟飞进了二楼的露台，被风吹起的床单吸引了它的注意力，它好奇地在飞进了...</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!----------------------------------- season --------------------------------------------->
    <div style="margin-top: 20px;text-align: center">
        <a href="#" target="_blank">
            <img src="../image/pic_1.jpg" alt="大朴网">
        </a>
    </div>
    <div class="season_container">   </div>
    <script type="text/html" id="season_temp">
        <%
        for ( var i = 0 ; i < season_model.length ; i++){
            var _model = season_model[i];
        %>
        <div class="season_model">
            <a href=<%= _model.href %> target="_blank">
                <img src=<%= _model.img %> alt="" width="398" height="290">
                <div class="season_wrapper" style="width: 398px; height: 45px; text-align: center; padding-top: 10px ;display:none">
                    <p><%= _model.name %></p>
                    <p><%= _model.price %></p>
                </div>
            </a>
        </div>
        <%
        }
        %>
    </script>

    <!-------------------------------------  news  --------------------------------------------->
    <div style="margin-top: 20px;text-align: center">
        <a href="#" target="_blank">
            <img src="../image/20170811003_news.jpg" alt="大朴网">
        </a>
    </div>
    <div class="new_main_con">
        <div class="new_con_big"></div>
        <div class="new_con_small"></div>
    </div>
    <script type="text/html" id="new_temp">
        <%
        for ( var i = 0 ; i < new_model.length ; i++){
        var _model = new_model[i],
            bottom = "238 - Number(_model.width)"+"px";
        %>
            <div class="new_model">
                <a href=<%= _model.href %> target="_blank">
                    <img src=<%= _model.img %> alt="" width=<%= _model.width %> height=<%= _model.height %> >
                    <div class="new_wraper" style="width: <%= _model.width %>; height: 45px; text-align: center; padding-top: 10px ;display:none;">
                        <p><%= _model.name %></p>
                        <p><%= _model.price %></p>
                    </div>
                </a>
            </div>
        <%
        }
        %>
    </script>


    <script type="text/html" id="new_temp_small">
        <%
        for ( var i = 0 ; i < _model.length ; i++){
        var _mo = _model[i];
        %>
        <div class="new_model">
            <a href=<%= _mo.href %> target="_blank">
                <img src=<%= _mo.img %> alt="" width="238" height="238" >
                <div class="new_wraper" style="width: 238px; height: 45px; text-align: center; padding-top: 10px ;display:none;">
                    <p><%= _mo.name %></p>
                    <p><%= _mo.price %></p>
                </div>
            </a>
        </div>
        <%   }  %>
    </script>

    <!------------------------- footer -------------------------->
    <div class="footer_con">
        <ul class="qrcodeing">
                <li class="item">
                    <img src="../image/appdown_upd.jpg" alt="">
                    <p>大朴APP下载</p>
                </li>
                <li class="item">
                    <img src="../image/weixin_upd2.jpg" alt="">
                    <p>大朴微信版</p>
                </li>
                <li class="item">
                    <img src="../image/dapu_2017040701.jpg" alt="">
                    <p>大朴微信服务号</p>
                </li>
                <li class="item">
                    <img src="../image/dapu_2017040701.jpg" alt="">
                    <p>微信客服</p>
                </li>
        </ul>
        <div id="footer">  </div>
    </div>

</div>


</body>
</html>





























