<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="http://s.dapuimg.com/favicon.ico" type="image/x-icon">
    <title>【质造】星球杯 其他</title>
    <link rel="stylesheet" href="../css/reset.css" type="text/css">
    <link rel="stylesheet" href="../css/product_1927.css">
    <script src="../lib/jquery/jquery-1.12-4.min.js"></script>
    <script src="../lib/arttemplate/template-native.js"></script>
    <script SRC="../lib/jquery-Plugins/jquery.elevateZoom-2.2.3.min.js"></script>
    <script src="../js/head.js"></script>
    <script src="../js/product_1927.js"></script>

</head>
<body>
<div class="main">
    <div> <list-itime id="header"></list-itime> </div>
    <div> <list-itime id="right_bar"></list-itime></div>

    <!------- 主要部分 ---------->
    <div  class="main_f1">
        <div class="crumb" style="width: 100% ;height: 20px;overflow: hidden">
            <span> <a href="index.html" style="color: #616146">首页</a> &nbsp;></span>
            <span> <a href="gallery-393.html" style="color: #616146">大朴优选</a> &nbsp;></span>
            <span> <a href="index.html" style="color: #616146">茶艺生活</a> &nbsp;></span>
            <span> <a href="index.html" style="color: #616146">创意礼品杯</a> &nbsp;></span>
            <em id="last_name">【质造】星球杯</em>
        </div>
        <div class="prod_details">
            <form action="" id="main_form" class="goods_action" >
                <div class="main_info">
                    <div class="prod_carousel">
                        <div class="goods_big">
                            <a href="#"><img src="../image/large1.jpg" alt="" class="con_img" data-zoom-image="../image/large1.jpg"></a>
                        </div>
                        <div class="goods_small">
                            <div class="totop" title="向左"></div>
                            <ul class="small_ul">
                                <li><img src="../image/large1.jpg" alt=""> <i></i></li>
                                <li><img src="../image/lager2.jpg" alt=""> <i></i></li>
                                <li><img src="../image/l3.jpg" alt=""> <i></i></li>
                                <li><img src="../image/l4.jpg" alt=""> <i></i></li>
                                <li><img src="../image/l5.jpg" alt=""> <i></i></li>
                            </ul>
                            <div class="tobottom" title="向右"></div>
                        </div>
                        <div  class="clearfix">
                            <div class="links">
                                <a href="#"><div class="shoucang" id="shoucang" style="width: 80px;height: 20px;"></div></a>
                                <div class="sharemain">
                                    <div class="shareimg" style="padding: 7px 0 0 15px;">
                                        <a href="#" class="bds_weixin" title="分享到微信"></a>
                                        <a href="#" class="bds_tsina" title="分享到新浪微博"></a>
                                        <a href="#" class="bds_tqq" title="分享到腾讯微博"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!------- 右边详细信息 -------->
                    <div class="goods_leftbox clearfix" style="width: 600px;">
                        <h1 class="goods_name" style="font-weight: bold"> 【质造】星球杯</h1>
                        <div class="product_id clearfix"> <span>商品编码：</span> <span id="goodsBn">101201154455</span></div>
                        <div class="goods_price_box clearfix">
                            <em style="font-size: 24px;color: #7f5b42" class="nomal_price">￥99</em>
                        </div>
                        <div class="goods_price_box clearfix" style="margin-bottom: 5px;">
                            <span style="display:inline-block;width:50px;text-align:center;font-size: 12px;color:#ffffff;background:#7F5B42;padding:2px 5px;font-weight: bold;border-radius:3px 3px; height: 22px;" >会员价</span>
                            <span class="mlvprice" style="color:#7F5B42;padding-left:10px;font-weight: bold;">￥94</span>
                            <a href="#" style="color:#ff0000;text-decoration: none;" target="_blank">如何成为会员</a>
                        </div>
                        <div id="promotion_show" class="clearfix" style="margin-bottom: 5px;">
                            <span style="display:inline-block;width:50px;text-align:center;font-size: 12px;color:#ffffff;background:#b1544f;padding:2px 5px;font-weight: bold;border-radius:3px 3px;">促销</span>
                            <span id="promotion_msg" style="padding-left: 10px;"></span>
                        </div>
                        <div class="score_wrap">
                            <ul>
                                <li>
                                    <p class="score_num">10</p>
                                    <p class="score_name">销量</p>
                                    <p class="score_tag_right"></p>
                                </li>
                                <li>
                                    <p class="score_num">3</p>
                                    <p class="score_name">用户评论数</p>
                                </li>
                                <li>
                                    <p class="score_num">198</p>
                                    <p class="score_name">评论送积分</p>
                                    <i class="score_tag_left"></i>
                                </li>
                            </ul>
                        </div>
                        <!--------- 规格 ----------->
                        <div class="goods_spec" id="goods_spec">
                            <label> <em class="check">规格：</em></label>
                            <ul class="right_ul">
                                <li>
                                    <a href="javascript:void(0)"><span style="background: url(../image/goodspecbg.gif)">2杯2碟/对装</span>
                                    <i title="点击取消选择">&nbsp;</i></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><span style="background: url(../image/goodspecbg.gif)">4杯4碟/对装</span>
                                    <i title="点击取消选择">&nbsp;</i></a>
                                </li>
                            </ul>
                        </div>
                        <!------------ 数量 ------------->
                        <div class="buyinfo clearfix">
                            <label for="">数量 :</label>
                            <div class="numinput" style="width: 120px;">
                                <ul style="display: inline-block">
                                    <li style="display: inline-block;padding-top: 3px;">
                                        <span style="background: url(../image/jian.jpg) no-repeat;height: 20px;line-height: 20px;" class="minus numadjust"></span>
                                    </li>
                                    <li style="display:inline; height:20px; line-height:20px;">
                                        <input type="text" id="pro_count" value="1" size="5" >
                                    </li>
                                    <li style="display:inline; padding-top:4px; padding-left:8px;">
                                        <span style="background: url(../image/jia.jpg) no-repeat;height: 20px;line-height: 20px;" class="add numadjust"></span>
                                    </li>
                                </ul>
                            </div>
                            <span id="measure_span" style="float: right; width: 85px; display: inline;">
                                    <a href="javascript:void(0)" style="cursor: pointer">尺码助手</a>
                            </span>
                        </div>
                        <!------------ 加入购物车 ------------->
                        <div class="hightline clearfix">
                            <div class="tocart">
                                <input type="submit" class="btu_buy" style="cursor: pointer" value="&nbsp;">
                            </div>
                            <div class="qrcode_box" id="qrcode_box">
                                <p class="qrcode_text" id="qrcode_text">“扫一扫”手机购买
                                    <i class="qrcode_min" id="qrcode_min"></i>
                                    <i class="down_icon"></i>
                                </p>
                                <div class="qrcode_img"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!---------------------------->
            <!----- 商品详情图片区块 ------>
            <div class="product_info_box clearfix">
                <div class="table_left clearfix">
                    <div class="cat_list border_dcdcdc">
                        <h3>相关分类</h3>
                        <ul class="clearfix">
                            <li class="hide"><a href="#" target="_blank">新农鲜果</a></li>

                        </ul>
                    </div>
                    <!---- 猜你喜欢 ------>
                    <div class="may_like border_dcdcdc more_box">
                        <h3>您可能会喜欢</h3>
                        <a href="http://www.baifendian.com" target="_blank" class="bfd_dtimg_logo"></a>
                        <div class="may_like_container">   </div>
                        <script type="text/html" id="may_like">
                            <%
                            for ( var i = 0 ; i < like_model.length ; i++){
                            var _model = like_model[i];
                            %>
                            <div class="box_c">
                                <a href=<%= _model.href %> title=<%= _model.name %> target="_blank">
                                    <img src=<%= _model.imgSrc %> alt="" class="pic_c">
                                </a>
                                <h4><a href=<%= _model.href %> target="_blank"> <%= _model.name %> </a></h4>
                                <p class="p_text price"><%= _model.price %></p>
                            </div>
                            <%
                            }
                            %>
                        </script>
                        <script>
                            $(function () {
                                // 从 mock/products.json 文件中加载商品数据
                                $.getJSON("../mock/product_1927.json", function(data){
                                    // 渲染模板
                                    var html = template("may_like", {like_model:data.prod_1927_like});
                                    // 显示
                                    $(".may_like_container").html(html);
                                });

                            })
                        </script>
                    </div>
                    <!------- 热销商品 ---------->
                    <div class="hot_sale border_dcdcdc  more_box">
                        <h3>热销商品</h3>
                        <div class="hot_sale_container">    </div>
                        <script type="text/html" id="hot_sale">
                            <%
                            for ( var i = 0 ; i < hot_model.length ; i++){
                            var _model = hot_model[i];
                            %>
                            <div class="box_c">
                                <a href=<%= _model.href %> title=<%= _model.name %> target="_blank">
                                    <img src=<%= _model.imgSrc %> alt="" class="pic_c">
                                </a>
                                <h4><a href=<%= _model.href %> target="_blank"> <%= _model.name %> </a></h4>
                                <p class="p_text price"><%= _model.price %></p>
                            </div>
                            <%
                            }
                            %>
                        </script>
                        <script>
                            $(function () {
                                // 从 mock/products.json 文件中加载商品数据
                                $.getJSON("../mock/product_1927.json", function(data){
                                    // 渲染模板
                                    var html = template("hot_sale", {hot_model:data.prod_1927_hot});
                                    // 显示
                                    $(".hot_sale_container").html(html);
                                });

                            })
                        </script>
                    </div>
                </div>
                <!-------------- 商品详情 ------------->
                <div class="tab_right clearfix" id="prod_box">
                    <ul class="tab_nav" id="float_nav" style="background: #fff; z-index: 100">
                        <li class="on xiangqing"><span id="xiangqing">商品详情</span></li>
                        <li class="server"><span>售后服务</span></li>
                        <li id="tag_3"><span>用户评论 <em>(3)</em></span></li>
                    </ul>
                    <div class="goods_detail_content border_dcdcdc">
                        <!----- 售后服务 ------>
                        <div id="aftersales_comment" class="li_content" style="padding: 13px 20px 20px ;display: none">
                            <img src="../image/aftersale.png" alt="">
                        </div>
                        <!-------- 用户评价 --------->
                        <div id="product_comment" class="li_content" style="padding: 5px 20px 20px ;display: none">
                            <img src="../image/comment.png" alt="">
                        </div>
                        <!-------- 商品详情 ---------->
                        <div class="tab_con" id="pro_comment" >
                            <img src="../image/1927.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!------------ mini_cart --------------->
        <div class="mini_cart" id="mini_cart" >
            <h2 class="title clearfix">成功加入购物车</h2>
            <span class="close">
             <button type="button" title="关闭" class="btu_close" ></button>
            </span>
            <div class="popup_con clearfix">
                <p class="p10">
                    目前选购商品共 <span style="color: #7f5b42" class="type">2</span>种
                    <span class="number" style="color: #7f5b42">27</span>件
                    &nbsp;&nbsp;合计：<span class="sub" style="color: #7f5b42">￥4273</span>
                </p>
                <div class="clearfix min_btu">
                    <a href="#" class="rebuy" style="background: #91847B;width: 100px;height: 30px;display: inline-block;border-radius: 6px 6px;color: #ffffff;line-height: 30px;text-decoration: none;text-align: center;float: left;margin-right:10px;">继续购物</a>
                    <a href="#" class="topay" style="background: #b10000;width: 100px;height: 30px;display: inline-block;border-radius: 6px 6px;color: #ffffff;line-height: 30px;text-decoration: none;text-align: center;float: left;">去结算</a>
                </div>
            </div>
        </div>
    </div>

    <div>  <list-itime id="footer"></list-itime></div>
</body>
</div>

</html>























